@{
    ViewData["Title"] = "Từ chối truy cập";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="text-danger">Bạn không có quyền truy cập vào trang này.</h1>
        <a href="/Home/Index" class="btn btn-primary mt-3">Quay lại trang chủ</a>
    </div>
</div>